#button {
    padding: 1vh;
    margin: 1vh 0;
    align-items: center;
    box-shadow: 2vh;
}

a {
    padding: 1.3vh 2vh;
    background-color: rgb(227, 228, 230);
    border-radius: 50%;
    color: rgb(44, 42, 42);
    font-size: 1.8vh;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
    font-size: 2vh;
}