#intro-background {
    height: 100vh;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-size:1%;
    background-color: rgb(248, 245, 240);
}  

#intro-box {
    width: 110vh;
    height: 75vh;
    background-color: rgb(247, 250, 255);
    padding: 3% 7% 3% 7%;
    border-radius: 5%;
    border-style: double; 
    border-width: 1vh;
    border-color: rgb(39, 8, 48);
    font-family: sans-serif, 'Arial Narrow Bold', sans-serif;
}

#intro-left {
    width: 110vh;
    padding: 0vh 5vh;
    justify-content:center;
}

#intro-right {

}

#main_content {
    display:flex;
    flex-direction:row;
}

#name {
    font-size: 6vh;
    font-family:fantasy;
    margin: 0
}

#headshot {
    height: 20vmin;
    border-radius:30%;
}
  
#specialty {
    font-size: 2.5vh;
    font-family: Avantgarde;
}
  
#experience {
    margin: 10px 0px;
    font-size: 1.8vh;
    font-family: Optima;
}

#email {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

#links a:hover {
    text-decoration: underline;
}

#email {
    margin: 2vh;
}

#scroll-arrow {
    margin: 3vh;
}

@media (prefers-reduced-motion: no-preference) {
    #scroll-arrow {
        animation: App-logo-point infinite 1s alternate;
    }
}

@keyframes App-logo-point {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(15px);
    }
}

 