.App {
  text-align: center;
}

.headshot {
  height: 20vmin;
  border-radius:50%;
  /* -webkit-box-reflect: below 20px; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.profile-header {
  background-color: #faf8f6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(16, 14, 14);
  font-family:'Trebuchet MS'
}

/* .Project {
  background-color: rgb(100, 110, 120);
  height: 35vh;
  display: flex;

} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
} */
