.App {
  text-align: center;
  color: rgb(16, 14, 14);
}

.ProjectGrid {
  height: 100vh;
}

.Project {
  background-color: rgb(229, 230, 233);
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* .App-link {
  color: #61dafb;
} */

.Footer {
  background-color: rgb(41, 47, 60);
  height: 5vh;
  color:white;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}